/*
 * 基本設定
 */
html {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
body {
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  margin: 0;
}
.alldiv {
  width: 60%;
  margin: auto;
  font-size: 16px;
}
.heading-028 {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .04rem;
  text-align: center;
  color: #FFF;
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  margin: 0;
}
.heading-028::before {
  display: block;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1.5;
  letter-spacing: .02rem;
  content: attr(data-label);
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  margin: 0;
}
.heading-028-2 {
  font-weight: normal;
  font-size: 1.0rem;
  letter-spacing: .04em;
  text-align: left;
  color: #FFF;
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  padding-left: 30%;
  margin: 0;
}
.heading-028-2::before {
  display: block;
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 1.5;
  letter-spacing: .02rem;
  content: attr(data-label);
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  padding-left: 30%;
  margin: 0;
}
textarea {
  font-family: monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  width: 94%;
  font-size: 1.2rem;
  margin-top: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.textClass {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  width: 94%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem;
  background-color: #EEEEEE;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
pre {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  width: 94%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}
.codeClass {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  border: 1px solid #666;
  border-radius: 0px;
  color: #666;
  background-color: #FFF;
  font-size: 0.9rem;
}
p {
  font-size: 1.0rem;
}
code {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

/*
 * 見出し
 */
h2 {
  background: #333;
  color: #FFF;
  padding: 0.5rem;
}
h3 {
  padding: 0.25rem 0.5rem;
  color: #494949;
  background: transparent;
  border-left: solid 0.4rem #666;
}

/*
 * nav-list
 */
.nav-list {
  text-align: center;
  padding: 1.0rem 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 1.5rem;
}

/*
 * フォーム関連
 */
iframe {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  width: 100%;
  height: 350px;
}
.formClass {
  height: 900px;
}
.iframeClass {
  text-align: center;
}

/*
 * 画像関連
 */
.img {
  text-align: center;
}
img {
  max-width: 94%;
}

/*
 * 箇条書
 *
 * ulとolを左寄せする
 * https://coliss.com/articles/build-websites/operation/css/css-align-lists-flush-left-by-jeremy.html
 */
ul li {
  font-size: 1.0rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
ol li {
  font-size: 1.0rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  list-style: none;
  padding-left: 0px;
  display: table;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 1.0rem;
}
ul li:after {
  content: "";
  display: block;
  margin-bottom: 0.2rem;
}
ul li {
  display: table-row;
}
ul li:before {
  content: "";
  display: table-cell;
  padding-right: 0.2rem;
}
ol {
  list-style: none;
  padding-left: 0;
  display: table;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 1.0rem;
}
ol li:after {
  content: "";
  display: block;
  margin-bottom: 0.2rem;
}
ol li {
  display: table-row;
  counter-increment: table-ol;
}
ol li:before {
  content: counter(table-ol) ".";
  display: table-cell;
  padding-right: 0.2rem;
  text-align: right;
}
li {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

/*
 * ボタン
 */
.aButton {
  display: block;
  width: 94%;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: #0067C0;
  background: #FFFFFF;
  text-decoration: none;
  text-align: left;
  border: 1px dashed #AAA;
  border-radius: 0px;
}
.aButton:hover {
  background: #EEE;
}
.buttonClass {
  width: 20%;
  font-size: 1.0rem;
  cursor: pointer;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: 1.0rem auto;
  padding: 0.8rem;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 0.2rem;
  transition: 0.2s;
  color: #FFF;
  background-color: #333;
}
.buttonClass:hover {
  font-weight: bold;
  color: #333;
  background: #FFF;
}
.bButton {
  display: block;
  width: 96%;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #333;
  background: #FFFFFF;
  text-decoration: none;
  border-radius: 0px;
}
.bButton:hover {
  font-weight: bold;
  color: #6495ED;
}

/*
 * detailsのアニメーション
 * https://www.digitalboo.net/post/2199/details_summary
 */
details {
  width: 94%;
  font-size: 1.0rem;
  border: 1px solid #aaa;
  border-radius: 0px;
  padding: 0.5rem 0.5rem 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}
summary {
  font-weight: normal;
  font-size: 1.0rem;
  margin: -0.5rem -0.5rem 0;
  padding: 0.5rem;
  background-color: #FFF;
}
details[open] {
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom:0.2rem 
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}

/*
 * selectのデザイン
 * https://pote-chil.com/css-stock/ja/selectbox
 */
select {
  width: 80%;
}
.selectbox {
  position: relative;
}
.selectbox::before,
.selectbox::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
.selectbox::before {
  right: 0;
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0 0.2rem 0.2rem 0;
  background-color: #666;
  content: '';
}
.selectbox::after {
  position: absolute;
  top: 50%;
  right: 1.4rem;
  transform: translate(50%, -50%) rotate(45deg);
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
}
.selectbox select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 230px;
  height: 2.8rem;
  padding: 0.6rem 4.0rem 0.6rem 1.0rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
  font-size: 1.0rem;
  cursor: pointer;
  color: #666;
  background-color: #FFF;
}
.selectbox select:focus {
  outline: 1px solid #67A7CC;
}

/*
 * 画像のスライドショー
 * https://web-camp.io/magazine/archives/80525
 * https://web-camp.io/magazine/archives/89664
 */
.slide {
  position: relative;
  overflow: hidden;
  width: 480px;
  height: 270px;
  padding: 0.5rem 1.0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #AAA;
  border-radius: 2px;
}
.slide-img {
  width: 480px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}
.slide img {
  display: block;
  position: absolute;
  width: 480px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  left: 100%;
  animation: slide-anime 10s linear infinite;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 5s;}
@keyframes slide-anime {
  0% {left: 100%;}
  4% {left: 3%;}
  46% {left: 3%;}
  50% {left: -100%;}
  100% {left: -100%;}
}

/*
 * コマンドを入力するボタン
 * 参考：https://job-info.hateblo.jp/entry/2024/08/11/204440
 */
#click-commands {
  display: flex;
  flex-wrap : wrap;
  justify-content: center;
  gap: 6px;
}
.command-button {
  padding: 10px 10px;
  background-color: #FFF;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 1.0rem;
  font-weight: bold;
  flex-shrink: 0;
}
.command-button:hover {
  background-color: #DDD;
}

/*
 * その他
 */
.centerClass {
  text-align: center;
}
.BlackLine {
  border-top: 0.5rem double #000000;
}
.mono-font {
  font-family: monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.mono-font2 {
  font-family: monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-weight: 600;
  font-size: 1.0rem;
}
#cmdline::placeholder{
  color: #d0d0d0;
  font-size: 1.0rem;
}
.white-link {
  color: #FFFFCC;
}
.white-link:hover {
  color: #DDDD99;
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------------
 * スマホ向け
 */
@media screen and (max-width: 999px) {
  /*
   * 基本的な設定
   */
  html {
    margin: 0;
    min-width: 100vw;
    width: 100vw;
    font-size: 0.9rem;
  }
  .alldiv {
    width: 100%;
  }
  code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
  }
  pre {
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }
  textarea {
    font-size: 0.9em;
    width: 90%;
  }
  .textClass {
    width: 90%;
    font-size: 0.9em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
  }
  .heading-028 {
    font-size: 0.8em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .heading-028::before {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .heading-028-2 {
    font-size: 0.6em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 5%;
  }
  .heading-028-2::before {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 5%;
  }

  /*
   * 見出し
   */
  h2 {
    font-size: 0.95em;
  }
  h3 {
    font-size: 0.95em;
    border-left: solid 0.3em #666;
    margin-left: 0.5em;
  }

  /*
   * フォーム関連
   */
  iframe {
    height: 300px;
  }
  .formClass {
    height: 1200px;
  }

  /*
   * ボタン
   */
  .buttonClass {
    font-size: 0.9em;
    width: 40%;
    height: 3.0em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }
  .bButton {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  /*
   * detailsのアニメーション
   */
  details {
    width: 90%;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-left: auto;
    margin-right: auto;
  }
  summary {
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-left: auto;
    margin-right: auto;
  }

  /*
   * 箇条書
   */
  ul {
    margin-left: 0.4em;
    padding-left: 0.8rem;
  }
  ul li {
    margin-left: 0.4em;
  }
  ol {
    margin-left: 0.4em;
    padding-left: 0.8rem;
  }
  ol li {
    margin-left: 0.4em;
  }

  /*
   * 画像スライドショー
   */
  .slide {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 180px;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    padding: 0.5rem 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border: 1px solid #AAA;
  }
  .slide-img {
    width: 320px;
    height: 180px;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .slide img {
    display: block;
    position: absolute;
    width: 320px;
    height: 180px;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    left: 100%;
    animation: slide-anime 10s linear infinite;
  }
  .slide img:nth-of-type(1) {animation-delay: 0s;}
  .slide img:nth-of-type(2) {animation-delay: 5s;}
  @keyframes slide-anime{
    0% {left: 100%;}
    4% {left: 4%;}
    46% {left: 4%;}
    50% {left: -100%;}
    100% {left: -100%;}
  }

  #click-commands {
    gap: 3px;
  }
  .command-button {
    padding: 6px 6px;
    background-color: #FFF;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    flex-shrink: 0;
  }

  /*
   * その他
   */
  .mono-font {
    font-family: monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
  }
  .mono-font2 {
    font-family: monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
  }
  #cmdline::placeholder {
    color: #d0d0d0;
    font-size: 0.9rem;
  }
}

/*
 * 小さい何か向け
 */
@media screen and (max-width: 599px) {
  html {
    font-size: 0.8rem;
  }
}
